---
interface Props {
    time: Date,
    weatherCode: number,
    sunrise?: null | Date,
    sunset?: null | Date
}

const { time, weatherCode, sunrise, sunset } = Astro.props;
---
<div>
    {time ? time.toLocaleString() : 'No time available'}
    {weatherCode}
    {sunrise ? sunrise.toLocaleString() : ''}
    {sunset ? sunset.toLocaleString() : ''}
</div>