---

---

<form method="POST" class="w-1/3 z-10 bg-white absolute flex flex-col max-w-md px-4" id="input-weather-form">
    <label for="location" class="number-label">
        Location
    </label>
    <input 
        type="text"
        id="location"
        name="location"
        placeholder="Location"
        class="number-input"
    />
    <label for="longitude" class="number-label">
        Longitude
    </label>

    <input
        type="number"
        id="longitude"
        name="longitude"
        placeholder="Longitude"
        class="number-input"
    />

    <label for="latitude" class="number-label"> Latitude </label>
    <input
        type="number"
        id="latitude"
        name="latitude"
        placeholder="Latitude"
        class="number-input"
    />
    <div id="input-form-buttons">
        <button
            type="submit"
            class="my-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-colors"
        >
            Update Forecast
        </button>
        <button
            id="form-close-button"
            type="button"
            class="mt-4 self-center px-4 py-2 rounded-full bg-gray-200 hover:bg-gray-300 text-gray-700 flex items-center gap-2 transition-colors"
            aria-label="Close form"
        >
            <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="featjer feather-x"
            >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
</form>

<style>
    #input-weather-form {
        display: none;
    }
    #input-form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .number-label {
        @apply px-4 text-lg my-2;
    }

    .number-input {
        @apply px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:border-transparent;
    }
</style>

<script>
    import { Loader } from '@googlemaps/js-api-loader';

    const loader = new Loader({
        apiKey: import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY,
        version: "weekly",
        libraries: ["places"],
        authReferrerPolicy: "origin",
        region: "US",
        language: "en",
    });

    try {
        const input = document.getElementById("location") as HTMLInputElement;
        const latitudeInput = document.getElementById("latitude") as HTMLInputElement;
        const longitudeInput = document.getElementById("longitude") as HTMLInputElement;

        loader
            .importLibrary('places')
            .then(({Autocomplete}) => {
                const autocomplete = new Autocomplete(input, {
                    fields: ["formatted_address", "geometry", "name"],
                    strictBounds: false,
                    types: ["geocode"]
                });

                autocomplete.addListener("place_changed", () => {
                    const place = autocomplete.getPlace();
                    
                    if (!place.geometry?.location) {
                        console.error("Location not found");
                        return;
                    }

                    const latitude = place.geometry.location.lat();
                    const longitude = place.geometry.location.lng();

                    if (latitudeInput && longitudeInput) {
                        latitudeInput.value = latitude.toString();
                        longitudeInput.value = longitude.toString();
                    }
                });
            })
            .catch((e) => {
                console.error("Places API Error:", e);
            });
    } catch (error) {
        console.error("Loader Error:", error);
    }

    const form = document.getElementById("input-weather-form");
    const button = document.getElementById("form-close-button");
    button?.addEventListener("click", () => {
        if (form) {
            form.style.display = "none";
        }
    });
</script>
