---
import HourlyTemp from './HourlyTemp.astro';
interface Props {
    hourlyTime: Array<Date>;
    hourlyApparentTemperatures: Array<number>;
}

const {hourlyTime, hourlyApparentTemperatures } = Astro.props;
---

<div class="max-h-[50vh] overflow-y-auto w-fit">
    <h1>Hourly Forecast</h1>
    <div class="flex flex-col gap-4 p-4">
        {hourlyTime.map((time, index) => (
            <HourlyTemp
                time={time}
                temp={hourlyApparentTemperatures[index]}
            />
        ))}
    </div>
</div>