---
import { number } from 'astro:schema';

interface Props {
    time: Date,
    temp: number
}

const {time, temp} = Astro.props;

const hour: number = time.getHours();
const minutes: number = time.getMinutes();

const formatNum = (num: number): String => {
    return num.toString().length == 2 ? num.toString() : `0${num.toString()}`
}
---

<div class="flex flex-row justify-between hourly-data-container p-3 transition-colors">
    <h1 class="hourly-time">{formatNum(hour)}:{formatNum(minutes)}</h1>
    <h1 class="hourly-apparent-temp">{temp.toFixed(0)}°</h1>
</div>

<style>
    .hourly-data-container:hover {
        background-color: #e07a5f;
        @apply bg-opacity-10
    }

    .hourly-time {
        @apply font-light tracking-wide mb-0;
    }

    .hourly-apparent-temp {
        @apply font-light tracking-wide mb-0;
    }
</style>