---
import HourlyTemp from './HourlyTemp.astro';
interface Props {
    hourlyTime: Array<Date>;
    hourlyApparentTemperatures: Array<number>;
}

const {hourlyTime, hourlyApparentTemperatures } = Astro.props;
---

<div class="max-h-[50vh] overflow-y-auto w-fit">
    <h1 id="hourly-forecast-header">Hourly Forecast</h1>
    <div class="flex flex-col">
        {hourlyTime.map((time, index) => (
            <HourlyTemp
                time={time}
                temp={hourlyApparentTemperatures[index]}
            />
        ))}
    </div>
</div>

<style>
    #hourly-forecast-header {
        @apply text-3xl font-light tracking-wide text-center;
    }
</style>