---
import { queryApi } from '../util/weather-fetch.ts'

const params = {
    latitude: [53.5501],
    longitude: [-113.4687],
    current:
        "temperature_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,cloud_cover",
    hourly: "temperature_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,weather_code",
    daily: "weather_code,sunrise,sunset,daylight_duration,sunshine_duration,uv_index_max,uv_index_clear_sky_max,wind_speed_10m_max,wind_gusts_10m_max",
};

console.log(await queryApi(params))
---

<div id="container">
    <!-- {JSON.stringify(responses)} -->
</div>

<style></style>
